/** @format */

.gameContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  text-align: center;
  width: 510px;
  border-bottom: solid 1px #3a3a3c;
}

.matrixContainer {
  width: 330px;
  margin-bottom: 30px;
}

.keyContainer {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}

.keyContainer button {
  width: 43px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  margin: 4px;
}

.keyContainer button:nth-child(11) {
  margin-left: 30px;
}
.keyContainer button:nth-child(20),
.keyContainer button:nth-child(28) {
  width: 68px;
}

.matrixContainer div {
  display: flex;
}

.matrixContainer .tile {
  width: 62px;
  height: 62px;
  border: 2px solid#3a3a3c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.messageContainer {
  height: 30px;
}
